/**
 * Some main variables.
 */
.center-in-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*
 * Buttons
 */
.bundle-button,
.config-button {
  border: none;
  text-transform: none;
}
.config-button {
  padding: 10px 30px;
  height: auto;
}
.is-connected,
.btn-black {
  background: #131313;
  /* Old browsers */

  background: -moz-linear-gradient(top, #131313 0%, #424242 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #131313), color-stop(100%, #424242));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #131313 0%, #424242 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #131313 0%, #424242 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #131313 0%, #424242 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #131313 0%, #424242 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#424242',GradientType=0 );
  /* IE6-9 */

  color: #fff;
  border: none;
  text-transform: none;
  padding: 10px 30px;
  height: auto;
  box-shadow: 2px 2px 10px black;
}
.is-connected:hover,
.btn-black:hover {
  background: #424242;
  /* Old browsers */

  background: -moz-linear-gradient(top, #424242 0%, #424242 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424242), color-stop(100%, #424242));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #424242 0%, #424242 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #424242 0%, #424242 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #424242 0%, #424242 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #424242 0%, #424242 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#424242',GradientType=0 );
  /* IE6-9 */

}
.is-not-connected,
.btn-green {
  border: none;
  text-transform: none;
  padding: 10px 30px;
  height: auto;
  box-shadow: 2px 2px 10px black;
  background: #669f02;
  /* Old browsers */

  background: -moz-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #669f02), color-stop(100%, #88d108));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #669f02 0%, #88d108 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669f02', endColorstr='#88d108',GradientType=0 );
  /* IE6-9 */

}
.btn-orange {
  border: none;
  text-transform: none;
  padding: 10px 30px;
  height: auto;
  box-shadow: 2px 2px 10px black;
  background: #e7852d;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e7852d 0%, #f58d2f 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7852d), color-stop(100%, #f58d2f));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e7852d 0%, #f58d2f 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e7852d 0%, #f58d2f 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e7852d 0%, #f58d2f 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #e7852d 0%, #f58d2f 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7852d', endColorstr='#f58d2f',GradientType=0 );
  /* IE6-9 */

}
.btn-center {
  width: auto;
  margin: 0px auto;
  display: block;
}
.disconnect-manager,
.disconnect-energy-app {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 32px;
  height: 32px !important;
  margin: 0px 13px;
  background-image: url("../img/icons/cross_32.png");
}
.btn-close {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  background-image: url("../img/icons/close-24.png");
  /* https://www.iconfinder.com/icons/186389/delete_remove_icon#size=512 */

  display: block;
  width: 27px;
  height: 25px;
  float: right;
  margin-top: -22px;
  margin-right: -15px;
}
#dashboardroot {
  height: 100%;
  min-height: 500px;
}
#content {
  background: white !important;
}
th {
  font-weight: bold;
  text-align: left;
}
table {
  border-spacing: 5px;
  border-collapse: separate;
}
.fullpage {
  background-color: white;
}
.endpoint-list {
  margin: 15px 0;
}
.endpoint-list .name-column {
  font-weight: bold;
  width: 220px;
  display: inline-block;
}
.endpoint-list .managers {
  width: 250px;
  display: inline-block;
}
.endpoint-list .energy-apps {
  width: 300px;
  display: inline-block;
}
.endpoint-list .endpoint-list-header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.endpoint-list .endpoint-list-header .managers {
  font-weight: bold;
}
.endpoint-list .endpoint-list-header .energy-apps {
  font-weight: bold;
}
.endpoint-list .endpoints .endpoint {
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.endpoint-list .endpoints .endpoint .name-column {
  font-weight: bold;
}
.endpoint-list .endpoints .endpoint .managers .manager {
  margin-top: 6px;
  margin-bottom: 6px;
}
.endpoint-box {
  background: #86d103;
  /* Old browsers */

  background: -moz-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86d103), color-stop(100%, #a5f616));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #86d103 0%, #a5f616 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86d103', endColorstr='#a5f616',GradientType=0 );
  /* IE6-9 */

  display: block;
  min-width: 150px;
  width: auto;
  min-height: 200px;
  height: auto;
  border-radius: 5px;
  padding: 15px 20px 15px 20px;
  box-shadow: 2px 2px 10px black;
  float: left;
  margin-right: 50px;
}
.endpoint-box .box-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.endpoint-box .driver-list .list-item {
  margin: 10px 0px;
  display: block;
  z-index: 10;
}
.managerPanel {
  background: #86d103;
  /* Old browsers */

  background: -moz-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86d103), color-stop(100%, #a5f616));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #86d103 0%, #a5f616 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86d103', endColorstr='#a5f616',GradientType=0 );
  /* IE6-9 */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 40%;
  border-radius: 5px;
  padding: 30px 20px;
  font-size: 1.1em;
  box-shadow: 2px 2px 10px black;
  z-index: 2000;
}
.managerPanel .managerPanelTitle {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.managerPanel .managerBlocks {
  display: block;
  width: 100%;
  margin: 30px auto 35px;
}
.managerPanel .managerBlocks .manager-block-button {
  margin: 0px 5px;
}
