@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translatey(-100%);
  }
  100% {
    -webkit-transform: translatey(0);
  }
}
@-moz-keyframes slideDown {
  0% {
    -moz-transform: translatey(-100%);
  }
  100% {
    -moz-transform: translatey(0);
  }
}
@-o-keyframes slideDown {
  0% {
    -o-transform: translatey(-100%);
  }
  100% {
    -o-transform: translatey(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translatey(-100%);
  }
  100% {
    transform: translatey(0);
  }
}
.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translatey(0);
  }
  100% {
    -webkit-transform: translatey(-100%);
  }
}
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translatey(0);
  }
  100% {
    -moz-transform: translatey(-100%);
  }
}
@-o-keyframes slideUp {
  0% {
    -o-transform: translatey(0);
  }
  100% {
    -o-transform: translatey(-100%);
  }
}
@keyframes slideUp {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(-100%);
  }
}
.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}
