@import "animated.css";
/**
 * Some main variables.
 */
.headroom {
  transition: transform 200ms linear;
}
.headroom--pinned {
  display: block;
  transform: translatey(0%);
}
.headroom--unpinned {
  display: none;
  transform: translatey(-100%);
}
.message {
  top: 5%;
  right: 0;
  left: 0;
  width: 55% !important;
  margin-right: auto;
  margin-left: auto;
  z-index: 5000;
  border: 1px solid;
  text-align: center;
  font-size: 1.4em;
  vertical-align: middle;
}
.infoMessage {
  top: 5%;
  right: 0;
  left: 0;
  width: 55% !important;
  margin-right: auto;
  margin-left: auto;
  z-index: 5000;
  border: 1px solid;
  text-align: center;
  font-size: 1.4em;
  vertical-align: middle;
  background: #bde5f8;
  /* Old browsers */

  background: -moz-linear-gradient(top, #bde5f8 0%, #bde5e8 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bde5f8), color-stop(100%, #bde5e8));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #bde5f8 0%, #bde5e8 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #bde5f8 0%, #bde5e8 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #bde5f8 0%, #bde5e8 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #bde5f8 0%, #bde5e8 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bde5f8', endColorstr='#bde5e8',GradientType=0 );
  /* IE6-9 */

  color: #00529B;
  box-shadow: 1px 1px 15px #00529B;
}
.errorMessage {
  top: 5%;
  right: 0;
  left: 0;
  width: 55% !important;
  margin-right: auto;
  margin-left: auto;
  z-index: 5000;
  border: 1px solid;
  text-align: center;
  font-size: 1.4em;
  vertical-align: middle;
  background: #ffbaba;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffbaba 0%, #efbaba 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbaba), color-stop(100%, #efbaba));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffbaba 0%, #efbaba 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffbaba 0%, #efbaba 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffbaba 0%, #efbaba 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffbaba 0%, #efbaba 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbaba', endColorstr='#efbaba',GradientType=0 );
  /* IE6-9 */

  color: #D8000C;
  box-shadow: 1px 1px 15px #D8000C;
}
.successMessage {
  top: 5%;
  right: 0;
  left: 0;
  width: 55% !important;
  margin-right: auto;
  margin-left: auto;
  z-index: 5000;
  border: 1px solid;
  text-align: center;
  font-size: 1.4em;
  vertical-align: middle;
  background: #dff2bf;
  /* Old browsers */

  background: -moz-linear-gradient(top, #dff2bf 0%, #dfe2bf 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dff2bf), color-stop(100%, #dfe2bf));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #dff2bf 0%, #dfe2bf 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #dff2bf 0%, #dfe2bf 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #dff2bf 0%, #dfe2bf 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #dff2bf 0%, #dfe2bf 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dff2bf', endColorstr='#dfe2bf',GradientType=0 );
  /* IE6-9 */

  color: #4F8A10;
  box-shadow: 1px 1px 15px #4F8A10;
}
.warningMessage {
  top: 5%;
  right: 0;
  left: 0;
  width: 55% !important;
  margin-right: auto;
  margin-left: auto;
  z-index: 5000;
  border: 1px solid;
  text-align: center;
  font-size: 1.4em;
  vertical-align: middle;
  background: #feefb3;
  /* Old browsers */

  background: -moz-linear-gradient(top, #feefb3 0%, #feefb3 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feefb3), color-stop(100%, #feefb3));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #feefb3 0%, #feefb3 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #feefb3 0%, #feefb3 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #feefb3 0%, #feefb3 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #feefb3 0%, #feefb3 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feefb3', endColorstr='#feefb3',GradientType=0 );
  /* IE6-9 */

  color: #9F6000;
  box-shadow: 1px 1px 15px #9F6000;
}
#content {
  background: white !important;
}
/*
 * Buttons
 */
.bundle-button,
.config-button {
  border: none;
  text-transform: none;
}
.bundle-button {
  box-shadow: 2px 2px 10px #99cc33;
}
.config-button {
  padding: 10px 30px;
  height: auto;
}
.btn-black {
  background: #131313;
  /* Old browsers */

  background: -moz-linear-gradient(top, #131313 0%, #424242 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #131313), color-stop(100%, #424242));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #131313 0%, #424242 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #131313 0%, #424242 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #131313 0%, #424242 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #131313 0%, #424242 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#424242',GradientType=0 );
  /* IE6-9 */

  color: #fff;
}
.btn-green {
  background: #669f02;
  /* Old browsers */

  background: -moz-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #669f02), color-stop(100%, #88d108));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #669f02 0%, #88d108 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669f02', endColorstr='#88d108',GradientType=0 );
  /* IE6-9 */

}
.save-config-button {
  box-shadow: 2px 2px 10px #99cc33;
}
.btn-center {
  width: auto;
  margin: 0px auto;
  display: block;
}
.btn-crud-base {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.btn-close {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  background-image: url("/img/icons/close/close-24.png");
  /* https://www.iconfinder.com/icons/186389/delete_remove_icon#size=512 */

  display: block;
  width: 27px;
  height: 25px;
  float: right;
  margin-top: -22px;
  margin-right: -15px;
}
.bundleList .bundle {
  display: block;
  width: 75%;
  padding: 10px 20px 10px 15px;
  margin: 10px auto;
  background: #669f02;
  /* Old browsers */

  background: -moz-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #669f02), color-stop(100%, #88d108));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #669f02 0%, #88d108 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669f02', endColorstr='#88d108',GradientType=0 );
  /* IE6-9 */

  border-radius: 5px;
  box-shadow: 2px 2px 10px #888888;
}
.bundleList .bundle .bundle-header .bundle-name {
  font-weight: bold;
  font-size: larger;
  display: inline-block;
  width: 70%;
}
.bundleList .bundle .bundle-header .bundle-actions {
  display: inline-block;
  width: 30%;
  text-align: right;
}
.bundleList .bundle .bundle-header .bundle-actions .btn-crud {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
}
.bundleList .bundle .bundle-header .bundle-actions .btn-delete {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
  background-image: url("/img/icons/trash/trash_24.png");
  /* Created by: http://www.webalys.com/ */

}
.bundleList .bundle .bundle-header .bundle-actions .btn-edit {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
  background-image: url("/img/icons/edit/edit-24.png");
}
.bundleList .bundle .bundle-header .bundle-actions .btn-create {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
  background-image: url("/img/icons/plus/plus-round-24.png");
}
.bundleList .bundle .bundle-header .bundle-actions button {
  height: auto;
}
.bundleList .bundle .existing-configurations {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
.bundleList .bundle .existing-configurations .existing-configurations-header {
  font-size: 1.1em;
  font-weight: bold;
  font-style: italic;
}
.bundleList .bundle .existing-configurations .existing-configurations-list {
  margin-top: 15px;
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration {
  display: block;
  width: 100%;
  margin-top: 17px;
  margin-bottom: 17px;
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-name {
  display: inline-block;
  width: 70%;
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-actions {
  display: inline-block;
  width: 30%;
  text-align: right;
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-actions .btn-crud {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-actions .btn-delete {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
  background-image: url("/img/icons/trash/trash_20.png");
  /* Created by: http://www.webalys.com/ */

}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-actions .btn-edit {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
  background-image: url("/img/icons/edit/edit-20.png");
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-actions .btn-create {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
  background-image: url("/img/icons/plus/plus-round-20.png");
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-actions button {
  height: auto;
}
.configPanel {
  background: #86d103;
  /* Old browsers */

  background: -moz-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86d103), color-stop(100%, #a5f616));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #86d103 0%, #a5f616 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86d103', endColorstr='#a5f616',GradientType=0 );
  /* IE6-9 */

  display: block;
  width: 40%;
  border-radius: 5px;
  padding: 30px 20px;
  font-size: 1.1em;
  box-shadow: 2px 2px 10px #888888;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}
.configPanel .configTitle {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.configPanel .configurationOptions {
  display: block;
  width: 100%;
  margin: 30px auto 35px;
}
.configPanel .configurationOptions .configurationOption {
  margin: 10px auto;
  height: 30px;
}
.configPanel .configurationOptions .configurationOption .optionLabel {
  display: inline-block;
  width: 40%;
}
.configPanel .configurationOptions .configurationOption .optionField {
  display: inline-block;
  width: 60%;
  text-align: right;
}
.configPanel .configurationOptions .configurationOption .optionField input[type=number],
.configPanel .configurationOptions .configurationOption .optionField input[type="text"] {
  width: 258px !important;
  height: auto !important;
}
.configPanel .configurationOptions .configurationOption .optionField select,
.configPanel .configurationOptions .configurationOption .optionField input[type="number"],
.configPanel .configurationOptions .configurationOption .optionField input[type="text"] {
  background: white;
  width: 268px;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  border: 0;
  height: 25px;
  text-align: right;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  border-radius: 5px;
}
.configPanel .configurationOptions .configurationOption .optionField input[type="checkbox"],
.configPanel .configurationOptions .configurationOption .optionField input[type="radio"] {
  border: 0;
  width: auto;
  -webkit-box-shadow: none;
  margin-right: 5px;
}
