@import "animated.css";
/**
 * Some main variables.
 */
.hidden {
  display: none !important;
}
.arrow {
  z-index: 2000;
  height: 256px;
  width: 256px;
  display: block;
  -webkit-transform: rotate(-126deg);
  background-image: url(https://cdn2.iconfinder.com/data/icons/freecns-cumulus/16/519974-038_ArrowDown-256.png);
}
.center-in-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headroom {
  transition: transform 200ms linear;
}
.headroom--pinned {
  display: block;
  transform: translatey(0%);
}
.headroom--unpinned {
  display: none;
  transform: translatey(-100%);
}
.message {
  top: 5%;
  right: 0;
  left: 0;
  width: 55% !important;
  margin-right: auto;
  margin-left: auto;
  z-index: 5000;
  border: 1px solid;
  text-align: center;
  font-size: 1.4em;
  vertical-align: middle;
}
.infoMessage {
  top: 5%;
  right: 0;
  left: 0;
  width: 55% !important;
  margin-right: auto;
  margin-left: auto;
  z-index: 5000;
  border: 1px solid;
  text-align: center;
  font-size: 1.4em;
  vertical-align: middle;
  background: #bde5f8;
  /* Old browsers */

  background: -moz-linear-gradient(top, #bde5f8 0%, #bde5e8 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bde5f8), color-stop(100%, #bde5e8));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #bde5f8 0%, #bde5e8 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #bde5f8 0%, #bde5e8 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #bde5f8 0%, #bde5e8 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #bde5f8 0%, #bde5e8 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bde5f8', endColorstr='#bde5e8',GradientType=0 );
  /* IE6-9 */

  color: #00529B;
  box-shadow: 1px 1px 15px #888888;
}
.errorMessage {
  top: 5%;
  right: 0;
  left: 0;
  width: 55% !important;
  margin-right: auto;
  margin-left: auto;
  z-index: 5000;
  border: 1px solid;
  text-align: center;
  font-size: 1.4em;
  vertical-align: middle;
  background: #ffbaba;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffbaba 0%, #efbaba 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbaba), color-stop(100%, #efbaba));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffbaba 0%, #efbaba 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffbaba 0%, #efbaba 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffbaba 0%, #efbaba 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffbaba 0%, #efbaba 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbaba', endColorstr='#efbaba',GradientType=0 );
  /* IE6-9 */

  color: #D8000C;
  box-shadow: 1px 1px 15px #888888;
}
.successMessage {
  top: 5%;
  right: 0;
  left: 0;
  width: 55% !important;
  margin-right: auto;
  margin-left: auto;
  z-index: 5000;
  border: 1px solid;
  text-align: center;
  font-size: 1.4em;
  vertical-align: middle;
  background: #dff2bf;
  /* Old browsers */

  background: -moz-linear-gradient(top, #dff2bf 0%, #dfe2bf 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dff2bf), color-stop(100%, #dfe2bf));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #dff2bf 0%, #dfe2bf 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #dff2bf 0%, #dfe2bf 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #dff2bf 0%, #dfe2bf 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #dff2bf 0%, #dfe2bf 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dff2bf', endColorstr='#dfe2bf',GradientType=0 );
  /* IE6-9 */

  color: #4F8A10;
  box-shadow: 1px 1px 15px #888888;
}
.warningMessage {
  top: 5%;
  right: 0;
  left: 0;
  width: 55% !important;
  margin-right: auto;
  margin-left: auto;
  z-index: 5000;
  border: 1px solid;
  text-align: center;
  font-size: 1.4em;
  vertical-align: middle;
  background: #feefb3;
  /* Old browsers */

  background: -moz-linear-gradient(top, #feefb3 0%, #feefb3 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feefb3), color-stop(100%, #feefb3));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #feefb3 0%, #feefb3 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #feefb3 0%, #feefb3 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #feefb3 0%, #feefb3 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #feefb3 0%, #feefb3 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feefb3', endColorstr='#feefb3',GradientType=0 );
  /* IE6-9 */

  color: #9F6000;
  box-shadow: 1px 1px 15px #888888;
}
#content {
  background: white !important;
}
/*
 * Buttons
 */
.bundle-button,
.config-button {
  border: none;
  text-transform: none;
}
.bundle-button {
  box-shadow: 2px 2px 10px #99cc33;
}
.config-button {
  padding: 10px 30px;
  height: auto;
}
.btn-black {
  background: #131313;
  /* Old browsers */

  background: -moz-linear-gradient(top, #131313 0%, #424242 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #131313), color-stop(100%, #424242));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #131313 0%, #424242 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #131313 0%, #424242 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #131313 0%, #424242 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #131313 0%, #424242 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#424242',GradientType=0 );
  /* IE6-9 */

  color: #fff;
}
.btn-black:hover {
  background: #424242;
  /* Old browsers */

  background: -moz-linear-gradient(top, #424242 0%, #424242 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424242), color-stop(100%, #424242));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #424242 0%, #424242 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #424242 0%, #424242 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #424242 0%, #424242 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #424242 0%, #424242 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#424242',GradientType=0 );
  /* IE6-9 */

}
.btn-green {
  background: #669f02;
  /* Old browsers */

  background: -moz-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #669f02), color-stop(100%, #88d108));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #669f02 0%, #88d108 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669f02', endColorstr='#88d108',GradientType=0 );
  /* IE6-9 */

}
.btn-orange {
  border: none;
  text-transform: none;
  padding: 10px 30px;
  height: auto;
  box-shadow: 2px 2px 10px black;
  background: #e7852d;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e7852d 0%, #f58d2f 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7852d), color-stop(100%, #f58d2f));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e7852d 0%, #f58d2f 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e7852d 0%, #f58d2f 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e7852d 0%, #f58d2f 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #e7852d 0%, #f58d2f 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7852d', endColorstr='#f58d2f',GradientType=0 );
  /* IE6-9 */

}
.save-config-button {
  box-shadow: 2px 2px 10px black;
  border: 1px solid black;
}
.btn-center {
  width: auto;
  margin: 0px auto;
  display: block;
}
.btn-crud-base {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.btn-close {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  background-image: url("/img/icons/close/close-24.png");
  /* https://www.iconfinder.com/icons/186389/delete_remove_icon#size=512 */

  display: block;
  width: 27px;
  height: 25px;
  float: right;
  margin-top: -22px;
  margin-right: -15px;
}
.save-custom-name-button {
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.clearfix {
  clear: both;
}
.intro {
  width: 100%;
}
.intro .intro-head .title {
  float: left;
  font-size: 3.0em;
  line-height: 2.0em;
}
.intro .intro-head .new-apps-container {
  float: right;
}
.intro .intro-head .new-apps-container .new-apps-button {
  background: #131313;
  /* Old browsers */

  background: -moz-linear-gradient(top, #131313 0%, #424242 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #131313), color-stop(100%, #424242));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #131313 0%, #424242 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #131313 0%, #424242 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #131313 0%, #424242 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #131313 0%, #424242 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#424242',GradientType=0 );
  /* IE6-9 */

  color: #fff;
  box-shadow: 2px 2px 10px black;
  border: 1px solid black;
  text-transform: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1.5em;
  display: inline-block;
  cursor: pointer;
}
.intro .intro-head .new-apps-container .new-apps-button:hover {
  background: #424242;
  /* Old browsers */

  background: -moz-linear-gradient(top, #424242 0%, #424242 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424242), color-stop(100%, #424242));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #424242 0%, #424242 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #424242 0%, #424242 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #424242 0%, #424242 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #424242 0%, #424242 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#424242',GradientType=0 );
  /* IE6-9 */

}
.intro .intro-block {
  margin-bottom: 50px;
}
.intro .intro-block .intro-info-icon {
  background-image: url("../img/icons/info-64.png");
  height: 64px;
  width: 64px;
  display: block;
  margin-right: 30px;
  float: left;
}
.intro .intro-block .intro-text {
  margin-bottom: 25px;
  line-height: 1.5em;
}
.configured-components {
  width: 100%;
}
.configured-components .configured-components-body {
  margin-top: 40px;
}
.configured-components .configured-components-body .configured-components-list .component {
  display: block;
  float: left;
  width: 14%;
  padding: 10px 20px 10px 20px;
  margin: 0px 18px 18px 0px;
  height: 125px;
  background: #669f02;
  /* Old browsers */

  background: -moz-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #669f02), color-stop(100%, #88d108));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #669f02 0%, #88d108 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669f02', endColorstr='#88d108',GradientType=0 );
  /* IE6-9 */

  border-radius: 5px;
  box-shadow: 2px 2px 10px #888888;
}
.configured-components .configured-components-body .configured-components-list .component .header {
  display: block;
  width: 100%;
  float: left;
  margin-left: 14%;
}
.configured-components .configured-components-body .configured-components-list .component .header .actions {
  display: block;
  width: 100%;
  text-align: right;
}
.configured-components .configured-components-body .configured-components-list .component .header .actions .btn-crud {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 25px;
  height: 20px !important;
  margin: 0px 3px;
}
.configured-components .configured-components-body .configured-components-list .component .header .actions .btn-delete {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 25px;
  height: 20px !important;
  margin: 0px 3px;
  background-image: url("/img/icons/trash/trash_20.png");
  /* Created by: http://www.webalys.com/ */

}
.configured-components .configured-components-body .configured-components-list .component .header .actions .btn-edit {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 25px;
  height: 20px !important;
  margin: 0px 3px;
  background-image: url("/img/icons/edit/edit-20.png");
}
.configured-components .configured-components-body .configured-components-list .component .component-name {
  font-size: 1.2em;
  line-height: 1.8em;
  display: table;
  width: 100%;
  padding: 10% 0;
  text-align: center;
}
.bundleList .bundle {
  display: block;
  width: 75%;
  padding: 10px 20px 10px 15px;
  margin: 10px auto;
  background: #669f02;
  /* Old browsers */

  background: -moz-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #669f02), color-stop(100%, #88d108));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #669f02 0%, #88d108 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #669f02 0%, #88d108 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669f02', endColorstr='#88d108',GradientType=0 );
  /* IE6-9 */

  border-radius: 5px;
  box-shadow: 2px 2px 10px #888888;
}
.bundleList .bundle .bundle-header .bundle-name {
  font-weight: bold;
  font-size: larger;
  display: inline-block;
  width: 70%;
}
.bundleList .bundle .bundle-header .bundle-actions {
  display: inline-block;
  width: 30%;
  text-align: right;
}
.bundleList .bundle .bundle-header .bundle-actions .btn-crud {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
}
.bundleList .bundle .bundle-header .bundle-actions .btn-delete {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
  background-image: url("/img/icons/trash/trash_24.png");
  /* Created by: http://www.webalys.com/ */

}
.bundleList .bundle .bundle-header .bundle-actions .btn-edit {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
  background-image: url("/img/icons/edit/edit-24.png");
}
.bundleList .bundle .bundle-header .bundle-actions .btn-create {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
  background-image: url("/img/icons/plus/plus-round-24.png");
}
.bundleList .bundle .bundle-header .bundle-actions button {
  height: auto;
}
.bundleList .bundle .existing-configurations {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
.bundleList .bundle .existing-configurations .existing-configurations-header {
  font-size: 1.1em;
  font-weight: bold;
  font-style: italic;
}
.bundleList .bundle .existing-configurations .existing-configurations-list {
  margin-top: 15px;
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration {
  display: block;
  width: 100%;
  margin-top: 17px;
  margin-bottom: 17px;
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-name {
  display: inline-block;
  width: 70%;
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-actions {
  display: inline-block;
  width: 30%;
  text-align: right;
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-actions .btn-crud {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-actions .btn-delete {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
  background-image: url("/img/icons/trash/trash_20.png");
  /* Created by: http://www.webalys.com/ */

}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-actions .btn-edit {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
  background-image: url("/img/icons/edit/edit-20.png");
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-actions .btn-create {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
  width: 27px;
  height: 25px !important;
  margin: 0px 5px;
  background-image: url("/img/icons/plus/plus-round-20.png");
}
.bundleList .bundle .existing-configurations .existing-configurations-list .existing-configuration .existing-configuration-header .bundle-actions button {
  height: auto;
}
.configPanel,
.customNamePanel {
  background: #86d103;
  /* Old browsers */

  background: -moz-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86d103), color-stop(100%, #a5f616));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #86d103 0%, #a5f616 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #86d103 0%, #a5f616 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86d103', endColorstr='#a5f616',GradientType=0 );
  /* IE6-9 */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 40%;
  border-radius: 5px;
  padding: 30px 20px;
  font-size: 1.1em;
  box-shadow: 2px 2px 10px black;
  z-index: 2000;
}
.configPanel .configTitle,
.customNamePanel .configTitle,
.configPanel .managerPanelTitle,
.customNamePanel .managerPanelTitle {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.configPanel .custom-name-description,
.customNamePanel .custom-name-description {
  font-size: 15px;
  margin: 25px 0 35px 0;
  display: block;
  line-height: 1.5em;
}
.configPanel .configurationOptions,
.customNamePanel .configurationOptions {
  display: block;
  width: 100%;
  margin: 30px auto 35px;
}
.configPanel .configurationOptions .configurationOption,
.customNamePanel .configurationOptions .configurationOption {
  margin: 10px auto;
  height: 30px;
}
.configPanel .configurationOptions .configurationOption .optionLabel,
.customNamePanel .configurationOptions .configurationOption .optionLabel {
  display: inline-block;
  width: 40%;
}
.configPanel .configurationOptions .configurationOption .optionField,
.customNamePanel .configurationOptions .configurationOption .optionField {
  display: inline-block;
  width: 60%;
  text-align: right;
}
.configPanel .configurationOptions .configurationOption .optionField input[type=number],
.customNamePanel .configurationOptions .configurationOption .optionField input[type=number],
.configPanel .configurationOptions .configurationOption .optionField input[type="text"],
.customNamePanel .configurationOptions .configurationOption .optionField input[type="text"] {
  width: 258px !important;
  height: auto !important;
}
.configPanel .configurationOptions .configurationOption .optionField select,
.customNamePanel .configurationOptions .configurationOption .optionField select,
.configPanel .configurationOptions .configurationOption .optionField input[type="number"],
.customNamePanel .configurationOptions .configurationOption .optionField input[type="number"],
.configPanel .configurationOptions .configurationOption .optionField input[type="text"],
.customNamePanel .configurationOptions .configurationOption .optionField input[type="text"] {
  background: white;
  width: 268px;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  border: 0;
  height: 25px;
  text-align: right;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  border-radius: 5px;
}
.configPanel .configurationOptions .configurationOption .optionField input[type="checkbox"],
.customNamePanel .configurationOptions .configurationOption .optionField input[type="checkbox"],
.configPanel .configurationOptions .configurationOption .optionField input[type="radio"],
.customNamePanel .configurationOptions .configurationOption .optionField input[type="radio"] {
  border: 0;
  width: auto;
  -webkit-box-shadow: none;
  margin-right: 5px;
}
.customNamePanel input[type="text"] {
  width: 75%;
  height: auto !important;
  background: white;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  line-height: 2;
  border: 0;
  text-align: left;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  border-radius: 5px;
}
